target/

### gradle ###
**/.gradle
**/build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Docker data
db-data/

# Coverage report
coverege-report/

# Generated
.jpb/
oauth-test-server/out/
untitled/